a.logo {
    display: none;
}

.image.featured {
    height: 45% !important;
    width: 45%;
}
h1, h2, h3, h4 {
    font-style: none !important;
}
.border-test {
    border: 4px solid blue;
}

.article-container {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    line-height: 26px;
}

.spacing {letter-spacing: 1px !important;}

.bullet-font.dib {
    font-size: 18px;
    font-style: none;
    padding: none;
}
.dib {display: inline-block;}

.li-font {
    font-style: italic;
}

.blockquote {
    line-height: 25px;
}

.ttf {
    text-transform: none !important;
}